# syntax and semantics in python

In [7]:
name="mohit"

Name="badhautiya"

print(name)
print(Name)

mohit
badhautiya

In [9]:
x=5
y=6

print(x+y)

11

# indentation

In [16]:
## indentation 
## python uses indentation to define blocks of code. consistent use of spaces 

age = 45
if age > 30:
    print(age)
    print("Age is",age)

45
Age is 45

In [20]:
# In this line i am going to print something
print("Hello World")

Hello World

In [22]:
print(f"My name is {age} years")

My name is 45 years

In [30]:
# Line continuation 
# use a backslash (\) to continue a statement to the next line 

total= 1 + 2 + 3 + 4 + 5 + 6 + 7 + \
4+5+6

print(total)

43

In [33]:
# understand semantics In python
# variable assignment
age = 32.9
name = "mohit"

In [35]:
type (age)

float

In [37]:
type(name)

str

In [39]:
# Type Inference
variable = 10
print(type(variable))
variable = "mohit"
print(type(variable))

<class 'int'>
<class 'str'>

In [46]:
a = 10

#

In [48]:
## Name Error
a=b

NameError: name 'b' is not defined

In [50]:
a = 100

In [52]:
 ## Declaring And Assigning Variables
 age = 26; height = 6.1; name = "Sunny";is_student = True
 ## printing the variables
 print("age :", age)
 # print("Height:", height)
 # print("Name:", name)

age : 26

In [54]:
 ## Naming Conventions
 ## Variable names should be descriptive
 ## They must start with a letter or an '_' and contains letter,numbers and under
 ## variables names case sensitive
 #valid variable names
 first_name = "Ajay"
 last_name = "Parashar"

In [56]:
 # Invalid variable names
 # 2age = 30
 # first-name = "Ajay"
 # #@name = "mohit"

# variable type

In [61]:
 # Understnading Variable types
 ## Python is dynamically typed,type of a variable is determined at runtime
age = 25 #int
height = 6.1 #float
 name = "Ajay" #str
 is_student = True #bool
 print(type(is_student))

<class 'bool'>

In [63]:
 ## Type Checking and Conversion
type(height)

float

# type conversion

In [66]:
 age = 25
 print(type(age))
 # Type conversion
 age_str = str(age)
 print(type(age_str))

<class 'int'>
<class 'str'>

In [68]:
 age = '25'
 # Again converting into 'int'
 print(type(int(age)))

<class 'int'>

In [70]:
name = "mohit"
int(name)

ValueError: invalid literal for int() with base 10: 'mohit'

In [72]:
 height = 5.11
 type(height)

float

In [74]:
int(height)

5

In [76]:
float (int(height))

5.0

In [92]:
 ## Dynamic Typing
 ## Python allows the type of a vraible to change as the program executes
 var = 10 #int
 print(var, type(var))
 var = "Hello"
 print(var, type(var))
 var = 3.14
 print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

# taking input from user

In [95]:
# reading input from user
name = input("What is your name?")

What is your name? mohit

In [97]:
print("Your name is ", name)

Your name is  mohit

In [99]:
 # Reading number as input from user
age = int(input("What is the age"))
print(age, type(age))

What is the age 30

30 <class 'int'>

In [101]:
# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number:  11.0
Enter second number:  -1.0

Sum: 10.0
Difference: 12.0
Product: -11.0
Quotient: -11.0

# data type

In [104]:
## integer example
age = 35
type(age)

int

In [108]:
##floting point datatype
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [112]:
## string datatype example
name="mohit"
print(name)
print(type(name))

mohit
<class 'str'>

In [116]:
## boolean datatype
is_true=True
type(is_true)

bool

In [118]:
a=10
b=10

type(a==b)

bool

In [120]:
## common error

# result = "hello" + 5
result = "Hello" * 5
print(result)

HelloHelloHelloHelloHello

In [124]:
result="Hello" + str(5)
print(result)

Hello5

# operators

In [127]:
## Arithmethic Operation

a = 10
b = 5

add_result = a+b  #additon
sub_result = a-b  #substraction 
mult_result = a*b #multiplication
div_result = a/b  #division
floor_div_result = a//b ## floor division
modulus_result = a%b #modulus operation

exponent_result = a**b ## Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [129]:
a = 10
b = 5

print(a+b)
print(a-b)

15
5

In [131]:
10/5

2.0

In [133]:
21/5

4.2

In [135]:
2**(2**5)

4294967296

In [137]:
(2+3)**5

3125

# comparion oprerators

In [140]:
## comparion operators
## == equal to
a = 10
b = 10.1

a == b

False

In [142]:
str1 = "Ajay"
str2 = "Ajay"
str1 == str2

True

In [146]:
# not equal to !=
str1 != str2

False

In [152]:
str3 = "mohit"
str4 = "mohit"
str3 != str4

False

In [162]:
# greater than >
num1 = 45
num2 = 5

num1 > num2

True

In [156]:
# less than <
num1<num2

True

In [160]:
#greater than or equal to
number1 = 40
number2 = 44

number1 >= number2

False

In [164]:
#less than or equal to
number1 = 44
number2 = 45

number1 <= number2

True

# logical operators

In [167]:
## And ,Not,OR
X = True
Y = True

result  = X and Y
print(result)

True

In [169]:
X = False
Y = True

result = X and Y
print(result)

False

In [181]:
## or 
X = False
Y = False
result = X or Y
print(result)

False

In [179]:
# not operators
X = False
not X

True

In [183]:
## Simple Calculator

# Simple calculator
num1  =  float(input("Enter first number: "))
num2  =  float(input("Enter second number: "))

# Performing arithmetic operations
addition  =  num1 + num2
subtraction  =  num1 - num2
multiplication  =  num1 * num2
division  =  num1 / num2
floor_division  =  num1 // num2
modulus  =  num1 % num2
exponentiation  =  num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Enter first number:  13.0
Enter second number:  -3.0

Addition: 10.0
Subtraction: 16.0
Multiplication: -39.0
Division: -4.333333333333333
Floor Division: -5.0
Modulus: -2.0
Exponentiation: 0.0004551661356395084

In [185]:
a =  int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum is ", a+b)

Enter first number:  14
Enter second number:  15

Sum is  29

# conditional statements

In [188]:
 ## if statement
 age=15
 if age >= 18:
    print("You are allowed to vote in the elections")

In [190]:
age >= 18

False

In [192]:
 ## else
 ## The else statement executes a block of code if the condition in the if statem
 age = 16
 if age >= 18:
    print("You are eligible for voting")
 else:
    print("You are a minor")

You are a minor

In [194]:
 ## elif
 ## The elif statement allows you to check multiple conditions. It stands for "el
 age=39
 if age < 13:
    print("You are a child")
 elif age > 18 and age < 40:
    print("You are an adult")
 else:
    print("You are an old adult")

You are an adult

In [196]:
 num = 42
 if num%2==0:
    print("Even")
 else:
    print("Odd")

Even

In [202]:
## Nested Conditional Statements
 # You can place one or more if, elif, or else statements inside another if, elif
 ## number even ,odd,negative
num = int(input("Enter the number"))
if num > 0:
    print("The number is positive")
    if num%2 == 0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is zero or negative")

Enter the number 20

The number is positive
The number is even

In [204]:
## Practical Examples
## Determine if a year is a leap year using nested condition statement
year=int(input("Enter the year"))
if year %4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the year 1966

1966 is not a leap year

In [208]:
## Assignment
## Simple Calculator program
# Take user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
# Perform the requested operation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
else:
    result = "Invalid operation."

print("Result:",result)

Enter first number:  150.0
Enter second number:  152.0
Enter operation (+, -, *, /):  +

Result: 302.0

In [212]:
### Determine the ticket price based on age and whether the person is a student.
# Ticket pricing based on age and student status
# Take user input
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()
# Determine ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == 'yes':
        price = "$12"
    else:
        price = "$15"
elif age <= 64:
    if is_student == 'yes':
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"
print("Ticket Price:", price)

Enter your age:  18
Are you a student? (yes/no):  no

Ticket Price: $25

# complex example 4: user login system

In [222]:
# Employee bonus calculation
# Take user input
years_of_service = int(input("Enter years of service: "))
performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))
# Determine bonus percentage
if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10
elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage = 5

else:
    bonus_percentage = 0
 # Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100
print("Bonus Amount: ${:.2f}".format(bonus_amount))

Enter years of service:  1000
Enter performance rating (1.0 to 5.0):  1.0
Enter current salary:  1000

Bonus Amount: $0.00

In [224]:
# User login system
# Predefined username and password
stored_username = "admin"
stored_password = "password123"
# Take user input
username = input("Enter username: ")
password = input("Enter password: ")
# Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

Enter username:  admin
Enter password:  password123

Login successful!

# loop

In [227]:
range(5)

range(0, 5)

In [229]:
 ## for loop
 for i in range(5):
    print(i)

0
1
2
3
4

In [231]:
 for i in range(1,6):
    print("Ajay", i)

Ajay 1
Ajay 2
Ajay 3
Ajay 4
Ajay 5

In [233]:
 for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [239]:
for i in range(1,10,-1):
    print(i)

In [241]:
 for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [243]:
 ## strings
 str="Ajay Parashar"
 for i in str:
    print(i)

A
j
a
y

P
a
r
a
s
h
a
r

In [245]:
 ## while loop
 ## The while loop continues to execute as long as the condition is True.
 count=0
 while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [247]:
 # Checking help
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [249]:
 ## Loop Control Statements
 ## break
 ## The break statement exits the loop permaturely
 ## break sstatement
 for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [251]:
 ## continue
 ## The continue statement skips the current iteration and continues with the nex
 for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [255]:
## pass
 ## The pass statement is a null operation; it does nothing.
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [257]:
## Nested loopss
## a loop inside a loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [259]:
 ## Examples- Calculate the sum of first N natural numbers using a while and for 
## while loop  
n=10   
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [261]:
n=10   
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [263]:
## Example- Prime numbers between 1 and 100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99

In [267]:
# Printing a table
for i in range(1, 11):
    print(f"{n} * {i} = {n*i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# lists

In [270]:
 lst=[]
 print(type(lst))

<class 'list'>

In [272]:
lst

[]

In [274]:
 lst = [1, 2, 3, 4, 5]
 print(lst)
 print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

In [276]:
lst = [1,2,3,4,5,56,78]

In [278]:
lst

[1, 2, 3, 4, 5, 56, 78]

# different datatypes

In [281]:
names = ["Ajay", "Jack", "Jacob", 1, 2, 3, 4, 5]
print(names)

['Ajay', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [283]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

# accessing list items

In [286]:
 fruits=["apple", "banana","cherry","kiwi","gauva"]

In [288]:
 print(fruits[0])
 print(fruits[1])
 print(fruits[4])
 print(fruits[-1])

apple
banana
gauva
gauva

In [290]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [292]:
 fruits[0:4]

['apple', 'banana', 'cherry', 'kiwi']

In [295]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1]) #Reverse the list

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'gauva']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']

In [297]:
 ## Modifying The List elements
 fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [299]:
fruits[1]

'banana'

In [301]:
fruits[1] = "watermelon" # Mutable
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [303]:
 fruits[1:] = "watermelon"

In [305]:
 fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [307]:
 fruits = ["apple","banana","cherry","kiwi","gauva"]

In [309]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [311]:
 help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [313]:
 ## List Methods
fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [315]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [317]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [319]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(fruits)
print(popped_fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']
orange

In [321]:
 index=fruits.index("cherry")
 print(index)

2

In [323]:
fruits.insert(2,"banana")
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [325]:

 print(fruits.count("banana"))

1

In [327]:
 fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [329]:
 fruits.append("avocado") ## Add an item to the end

In [331]:
# Sort the list in ascending order
fruits.sort() 
fruits

['apple', 'avocado', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [333]:
 # Sort the list in descending order
 fruits.reverse()

In [335]:
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'avocado', 'apple']

In [339]:
fruits.clear() ## Remove all items from the lists
print(fruits)

[]

In [341]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [343]:
 numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [345]:
### Iterating Over List
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [347]:
## Iterating with index
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

# tupels

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list() ## []
print(type(lst))

<class 'list'>

In [5]:
tpl=tuple()
print(type(tpl))

<class 'tuple'>

In [7]:
tpl1 = (1,2,3,4,5)
print(type(tpl1))

<class 'tuple'>

In [9]:
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [11]:

numbers=tuple(lst)
numbers

(1, 2, 3, 4, 5)

In [13]:
list(numbers)

[1, 2, 3, 4, 5]

In [15]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [23]:
## Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5)

In [25]:
print(numbers[2])
print(numbers[-1])

3
5

In [28]:
numbers[0:4]

(1, 2, 3, 4)

In [30]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [32]:
numbers

(1, 2, 3, 4, 5)

In [36]:

mixed_tuple

(1, 'Hello World', 3.14, True)

In [38]:
## Tuple Operations
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [40]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [42]:

mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [44]:
numbers

(1, 2, 3, 4, 5)

In [46]:
numbers + tuple(3)

TypeError: 'int' object is not iterable

In [48]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.
lst=[1,2,3,4,5] # List
print(lst)

[1, 2, 3, 4, 5]

In [50]:
lst[1]="Ajay" # Mutable
print(lst)

[1, 'Ajay', 3, 4, 5]

In [52]:
# Tuple
numbers, type(numbers)

((1, 2, 3, 4, 5), tuple)

In [54]:
numbers[1]="Ajay"

TypeError: 'tuple' object does not support item assignment

In [56]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [58]:
## Packing and Unpacking tuple
## packing

packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [60]:
## unpacking a tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [62]:
## Unpacking with *
numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

# nested list and tuples

In [65]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]

lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

In [67]:
lst[0]

[1, 2, 3, 4]

In [69]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'Hello', 3.14, 'c')]

In [71]:
lst[2][0:3]

(1, 'Hello', 3.14)

In [73]:
nested_tuple = ((1, 1, 2, 3, 2), ("a", "b", "c"), (True, False))
## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 1, 2, 3, 2)
c

In [83]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
for item in sub_tuple:
 
print(item,end=" ")
print()

IndentationError: expected an indented block after 'for' statement on line 2 (123333352.py, line 3)

# dictionaries

In [86]:
## Creating Dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [89]:
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [91]:
student={"name":"Sunny", "age":17, "grade":11}
print(student) # Accessing Dictionary elements
print(type(student))

{'name': 'Sunny', 'age': 17, 'grade': 11}
<class 'dict'>

In [93]:
# Single key is always used
student={"name":"Sunny", "age":17, "name":24}
print(student)

{'name': 24, 'age': 17}

In [95]:
## accessing Dictionary Elements
student={"name":"Honey","age":32,"grade":'A'}
print(student)

{'name': 'Honey', 'age': 32, 'grade': 'A'}

In [97]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

A
32

In [99]:
## Accessing using get() method
print(student.get('grade'))

A

In [101]:
print(student.get('last_name'))

None

In [103]:
print(student.get('last_name',"Not Available"))

Not Available

In [105]:
## Modifying Dictionary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Honey', 'age': 32, 'grade': 'A'}

In [107]:
student["age"]=33  ##update value for the key
print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A'}

In [109]:
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A', 'address': 'India'}

In [111]:
del student['grade'] ## delete key and value pair
print(student)

{'name': 'Honey', 'age': 33, 'address': 'India'}

In [113]:
## Dictionary methods
keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)
items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Honey', 33, 'India'])
dict_items([('name', 'Honey'), ('age', 33), ('address', 'India')])

In [115]:
student.keys()

dict_keys(['name', 'age', 'address'])

In [117]:
student

{'name': 'Honey', 'age': 33, 'address': 'India'}

# shallow copy

In [120]:
## shallow copy
'''
It creates a new object, but it does not create copies of nested objects. 
Instead, it references the original nested objects.
'''
import copy
student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
student_copy = copy.copy(student)

In [122]:
student, student_copy

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [124]:
# Modify the nested list
student['subjects'].append('English')
print(student)
print(student_copy)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}

# deep copy

In [127]:
## deep copy
'''
It creates a completely new object, including all nested objects.
'''
import copy
student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
student_copy2 = copy.deepcopy(student)

In [129]:
student, student_copy2

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [131]:
# Modify the nested list
student['subjects'].append('English')
print(student)
print(student_copy2)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science']}

In [133]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items
## Iterating over keys
for keys in student.keys():
    print(keys)

name
subjects

In [135]:
## Iterate over values
for value in student.values():
    print(value)

Honey
['Math', 'Science', 'English']

In [137]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Honey
subjects:['Math', 'Science', 'English']

In [139]:
## Nested Disctionaries
students={
    "student1":{"name":"Sunny","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Sunny', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [141]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [143]:
students.items()

dict_items([('student1', {'name': 'Sunny', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

# funtions basics

In [146]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [148]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [150]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [152]:
## Call this function
even_or_odd(24)

the number is even

In [154]:
## function with multiple parameters
def add(a,b):
    return a+b
a = int(input("Enter the number 1"))
b = int(input("Enter the number 2"))
result=add(a, b)

print("The result of",a, "and", b, "is",result)
 #or
print(f"The result of {a} and {b} is {result}") #fstrings

Enter the number 1 1
Enter the number 2 2

The result of 1 and 2 is 3
The result of 1 and 2 is 3

In [156]:
## Default Parameters
def greet(name):
    print(f"Hello {name} Welcome To the paradise")
greet("Ajay")

Hello Ajay Welcome To the paradise

In [158]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")
greet("Ankush")

Hello Ankush Welcome To the paradise

In [160]:
### Variable Length Arguments
## Positional And Keywords arguments
def print_numbers(*Ajay):
    
    for number in Ajay:
        print(number)

In [162]:
print_numbers(1,2,3,4,5,6,7,8,"mohit")

1
2
3
4
5
6
7
8
mohit

In [164]:
## Positional arguments
def print_numbers(*args):
    for i in args:
        print(i)
print_numbers(1,2,3,4,"mohit", "Abhay")

1
2
3
4
mohit
Abhay

In [168]:
## Example
def sum_of_numbers(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

sum_of_numbers(1,2,3,4,5,6,12,15)

48

In [170]:
### Keywords Arguments
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [172]:
print_details(name="Ajay",age="32",country="India")

name:Ajay
age:32
country:India

In [174]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [176]:
print_details(1,2,3,4,"Ajay",name="Ajay",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Ajay
name:Ajay
age:32
country:India

In [181]:
### Return statements
def multiply(a,b):
    return a*b
multiply(2,3)

6

In [183]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a
    
multiply(2,3)

(6, 2)

# lamda funtions

In [186]:
#Syntax
lambda arguments: expression

In [188]:
def addition(a,b):
    return a+b
addition(2,3)

5

In [192]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [194]:
def even(num):
    if num%2==0:
        return True
    
even(24)

True

In [196]:
even1=lambda num:num%2==0
even1(12)

True

In [198]:
def addition(x,y,z):
    return x+y+z
addition(12,13,14)

39

In [200]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [202]:
## map()- applies a function to all items in a list
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2
square(2)

4

In [204]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

# the map() funtions in python

In [207]:
def square(x):
    return x*x
square(10)

100

In [209]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [211]:
## Lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [213]:
### MAp multiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [215]:
 ## map() to convert a list of strings to integers
# Use map to convert strings to integer

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [217]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [219]:
def get_name(person):
    return person['name']
people=[
    {'name':'Ajay','age':32},
    {'name':'Jack','age':33}
]
list(map(get_name,people))

['Ajay', 'Jack']

# the filter() funtions in python

In [222]:
def even(num):
    if num%2==0:
        return True

In [224]:
even(24)

True

In [226]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [230]:
## filter with a Lambda Function
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [232]:
## Filter with a lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [234]:
## Filter() to check if the age is greate than 25 in dictionaries
people=[
    {'name':'Sunny','age':32},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
]
def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'Sunny', 'age': 32}, {'name': 'Jack', 'age': 33}]